# Telegram Bot Token (找 @BotFather 获取)
BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ

# 数据库存储路径 (默认无需修改)
DB_FILE=data/bot_multi_users.db

#轮训间隔时间（秒）
CHECK_INTERVAL=60

RSS_URL = "https://rss.nodeseek.com/" 